* {
    font-family: Helvetica, Arial, sans-serif;
    background: brown;
}

body {
    padding: 60px;
}
input{
    color: white;
    font-size: 1.2rem;
    width: 100%;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center;
    border: 1px solid black;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;


}

.card p {
    pading: 5px;
    text-align: center;
}

.card img {
    max-height: 170px;
}

.animate__fadeInDownBig{
    animation-duration: 1200ms;
    animation-delay: 2s;

}
